body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.dark{
    background-color: black;
}
.container{
    margin: 10px;
    border-radius: 5px;
}

                                                    /*Header Nav Buttons*/
.headButtons{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.modeButtons{
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
}
.mode{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform: rotate(150deg);
}
.mode:hover{
    background-color: red;
    
    color: wheat;
}
.headButtons > button{
    background-color: goldenrod;
}
.headButtons > button:hover{
    background-color: thistle;
    color: blue;
}
.navButtons{
    display: flex;
    gap: 20px;
    padding: 0 50px 0 0;
    max-height: fit-content;
}
.navButtons > button{
    background-color: goldenrod;
    border-radius: 30px;
}
.navButtons > button:hover{
    background-color: thistle;
    color: blue;
}

#admin,#home{
    width: 40px;
    height: 40px;
    background-color: blue;
    border-radius: 50%;
    animation-name: bgColor;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes bgColor{
    form{
        background-color: blue;
    }
    to{
        background-color: red;
    }
}
#admin:hover{
    transform: rotate(360deg);
    transition: all 2s ease-in-out ;
}

                                                            /* About */
.displayMain{
    gap: 30px;
}
.about{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding-top: 50px;
    margin-bottom: 30px;
}
.mainImg{
    margin-top: 30px;
    min-height: 230px;
    min-width: 250px;
    max-height: 500px;
    max-width: 500px;
    align-self: center;
    border-radius: 80px;
    padding: 5px;
    animation-name: changeColor;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes changeColor{
    form{
        background-color: gray;
    }
    to{
        background-color: red;
    }
}
.textArea{
    max-width: 300px;
}
.contactPara{
    max-width: 700px;
    margin-left: 10px;
}

                                                            /* Email */
/* .emailForm{
    display: flex;
    flex-direction: column;
    
} */
.credentials{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 410px;
}
.dark .credentials{
    background-color: green;
}
.credentials:hover{
    height: 120px;background-color: rgb(182, 217, 248);
}
.email{
    width: 120px;
    
}
/* form{
    display: flex;
    flex-direction: column;
    background-color: brown;
    max-width: 360px;
    padding: 20px 40px 20px 40px;
    border-radius: 10px;
}
input{
    max-width: 360px;
    background-color: aqua;
}
.send{
    margin-top: 3px;
    align-self: flex-start;
    background-color: rgb(95, 95, 175);
}
.send:hover{
    background-color: aqua;
} */
#download-icon{
    width: 80px;
    height: 80px;
}
.download{
    display: flex;
    align-items: flex-start;
    padding-top: -20px;
}


                                                    /*footer*/
footer{
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
footer > button{
    background-color: darkolivegreen;
}
footer > button:hover{
    background-color: thistle;
    color: blue;
}                                                    
#gh-logo{
    width: 40px;
    height: 40px;
    border-radius: 70%;
    /* border: 5px solid black; */
}
.dark #gh-logo{
    background-color: rgb(198, 207, 216);
}

                                            /* Universal Tags */
h1{
    font-style: oblique;
    text-decoration: underline;
    color: black;
}
h2{
    color: rgb(19, 194, 107);
    /* width: min-content; */
}
h3{
    color: brown;
    font-style: oblique;
    font-weight: bolder;
    font-size: x-large;
}
h4{
    font-size: xx-large;
}
h6{
    width: 100px;
}
.display{
    height: 50%;
    margin-bottom: 20px;
}
.technologies>ul{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style-type: none;
}
                                                                /* Technical Blogs */
.blogContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blog{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: min-content;
    max-width: 700px;
    overflow: hidden;
    border-radius: 5px;
    padding-left: 3px;
}
.blogPic{
    align-self: center;
    /* max-width: 700px; */
    max-height: 350px;
    max-width: 330px;
}
.blog:hover{
    background-color: brown;
    transform: translateX(5px);
    transition: transform 500ms ease-out;
}
                                                            /* Projects*/  
.projectsContainer{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     padding-left: 10px;
     overflow: hidden;
}                                                            
.dark .projectsContainer{
    animation-name: changeColor;
    animation-duration: 10s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes changeColor{
    form{
        background-color: rgb(97, 79, 79);
    }
    to{
        background-color: rgb(97, 79, 79);
    }
}
.projectPic{
    max-height: 300px;
    max-width: 300px;
}          
.objectiveText{
    width: fit-content;
}

                                                                    /*Dark Mode*/
.dark p {
    color: aliceblue;
}
.dark ul{
    color: chocolate;
}
.dark h1{
    color: aliceblue;
}
.dark .mode{
    background-color: aliceblue;
}



